/* component .tsx file styling */


  /* banner container styling */
  nav {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

  #nav-right {
    display: flex;
    flex-direction: row;
  }

  #main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* left container styling */
#left-container {
  margin: 1em 1em;
  border: 1px solid;
  padding: 15% 15%;
  display: flex;
  flex-direction: row;
  align-items: center
  }

  /* weight form container styling */
#weight-form {
  background-color: lightblue;
  padding: 1rem;
}


/* right container styling */
#right-container {
  margin: 1em 1em;
  border: 1px solid;
  padding: 15% 15%;

}

/* ComparedTo styling */

/* Dropup/down menu */
/* drop up menu button */
#dropbtn {
  background-color: yellow;
}

/* drop up menu container */
.dropup {
  position: relative;
  display: inline-block;
}

#dropmenu {
  display: none;
  position: absolute;
}

#dropmenu a {
  display: block;
}

.dropup:hover #dropmenu {
  display: block;
}

#weight-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.weight-input {
  border-radius: 5px;
  box-shadow: 12px 6px 2px 1px rgba(83, 83, 185, 0.2);

}

.submitInput {
  border-radius: 5px;
}