#left-container {
  display: flex;
  flex-direction: row;
  align-items: center
  }

#weight-form {
  background-color: pink;
}

#right-container {
  margin: 1em 1em;
  border: 1px solid;
  padding: 15% 15%;

}

/* drop up menu button */
#dropbtn {
  background-color: yellow;
}

/* drop up menu container */
.dropup {
  position: relative;
  display: inline-block;
}

#dropmenu {
  display: none;
  position: absolute;
}

#dropmenu a {
  display: block;
}

.dropup:hover #dropmenu {
  display: block;
}
