/* component .tsx file styling */

body {
  background-image: url("https://iili.io/HQmBfbj.gif");
}

/* banner container styling */
nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
  background-color:black;
}

  #nav-right {
    display: flex;
    flex-direction: row;
    color: white;
    background: black;
    background-color: black;
  }

  #nav-left {
    font-size: 30px;
    flex-direction: row;
    font-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    width: 15rem;
    font-color: white;
    font-background: black;

  }

  #main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

  .navbarheading {
    margin: 1em;
  }

/* left container styling */
#left-container {
  margin: 1em 1em;
  border: 1px solid;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  min-width: 45%;
  max-width: 45%;
  height: 34rem;
  background: white;
}

  .resultsContainer {
    background: linear-gradient(#09C6F9, #045DE9);
    background-size: 1800% 1800%;
    justify-content: center;
    position: relative;
    overflow-wrap: break-word;
    margin: 5px;
    width: 8rem;
    display: flex;
    flex-grow: 1;
    min-height: 33rem;
   -webkit-animation: rainbow 4s ease infinite;
   -z-animation: rainbow 4s ease infinite;
   -o-animation: rainbow 4s ease infinite;
   animation: rainbow 4s ease infinite;
  }
   @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
   }
   @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
   }
   @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
   }
   @keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
   }
  
   #submitbutton {
    position: absolute;
    bottom: 0;
  }

  #poundsResult {
    font-size: 30px;
    overflow-wrap: anywhere;
  }
  
  #kilosResult {
    font-size: 30px;
    overflow-wrap: anywhere;
  }

  #stoneResult {
    font-size: 30px;
    overflow-wrap: anywhere;
  }

  #poundsNumber {
    font-size: 3vh;
    position: absolute;
    padding-top: 50px;
    overflow-wrap: anywhere;
  }

  #kilosNumber {
    font-size: 3vh;
    position: absolute;
    padding-top: 50px;
    overflow-wrap: anywhere;
  }

  #stoneNumber {
    font-size: 3vh;
    position: absolute;
    padding-top: 50px;
    overflow-wrap: anywhere;
  }

/* weight form container styling */
#weight-form {
  background-color: #4383b7;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.weight-input {
  border-radius: 5px;
  box-shadow: 12px 6px 2px 1px rgba(83, 83, 185, 0.2);
  margin-left: 5.5rem;
}

.submitInput {
  border-radius: 5px;
  margin-left: 6.5rem;
}

/* right container styling */
#right-container {
  margin: 1em 1em;
  border: 1px solid;
  height: 36rem;
  display: flex;
  min-width: 45%;
  max-width: 45%;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background: white;
  /* background-image: url("https://iili.io/HQmW1d7.png"); */
  background-size: contain;
}

#cat {
  opacity: 1;
}

#right-sub-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* ComparedTo styling */
/* Dropup/down menu */
#compare {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: white;
  background-color: white;
  min-height: 8rem;
  align-items: center;
}

#compare-menu {
  background: white;
  background-color: white;
}

.dropup {
  /* background-color: purple; */
  align-self: center;
  padding-left: 2em;
  background: white;
  background-color: white;
}

#submitbutton {
  position: 
}

.images {
  width: 100%;
  height: auto;
}

.imagesDiv {
  width: 8rem;
  height: 8rem;
}